.statistics {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
  max-width: 400px;
}
.statistics__title {
  text-align: center;
  color: grey;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.statlist {
  display: flex;
  color: white;
}
.statlist__item {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: calc(100% / 5);
}
.statlist__label {
  margin-bottom: 10px;
}
.statlist__percentage {
  font-size: x-large;
}
